body {
  margin: 0;
  font-family: Oswald;
  color: #fff;
  background-color: #444;
  text-align: center;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
